<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>N0guch1.GitHub.io by n0guch1</title>
<link rel="stylesheet" href="/stylesheets/styles.css">
<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="javascripts/respond.js"></script>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 8]>
<link rel="stylesheet" href="stylesheets/ie.css">
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
    <body>
        <div id="header">
            <nav>
                <li class="fork"><a href="https://github.com/n0guch1">View On GitHub</a></li>
            </nav>
        </div><!-- end header -->
        <div class="wrapper">
            <section>
                <div id="title">
                    <h1><a href="http://n0guch1.github.io/">N0guch1.GitHub.io</a></h1>
                    <p></p>
                    <hr>
                    <span class="credits left">Project maintained by <a                     href="https://github.com/n0guch1">n0guch1</a></span>
                    <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
                </div>
                <!-- カテゴリータグの追加。Topページまたはカテゴリ一覧ページのみ表示する-->
                {% if "Archives" == page.title or page.categoryFlag %}
                <div id="category">
                    <h2 class="category-title"><span class="icon large" data-icon=","></span> Category</h2>
                    <ul id="category-list" class="alt">
                    {% for category in site.categories %}
                      <li><a href="/category/{{category[0]}}/">{{category[0]}}</a>({{category[1].size}})</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <!-- カテゴリータグの追加 -->
                <h2> {{ page.title }} </h2>
                <!-- 見やすくするためTopページ以外はタイトル下に改行を入れる -->
                {% if "Archives" != page.title %}</br>{% endif %}
                <!-- ページ内容を表示 -->
                {{  content }}
            </section>
        </div>

        <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    </body>
</html>
